<input class="input_pokemon" placeholder="Florges" type="text" (input)="getPokemon($any($event.target).value)">

<div class="container-card">
    <div class="card-title">
        <h1>{{pokemon?.name}}</h1>
    </div>
    <div class="card-img">
        <img [src]="pokemon?.sprites?.front_default"
        alt="pokemon img"
        >
    </div>
    <div class="card-stats">
        <span
         *ngFor="let type of pokemon?.types">
            <p class="card-type">{{type.type.name}}</p>
        </span>
    </div>
</div>